{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
<div>
    <h1>Monitor de Memória e CPU</h1><br>

    <ul>
      <li><a href="/admin/recursos/registro/" target="_blank">
        <img src="{% static 'images/list.png' %}" />
        <h3>Equipamentos e recursos</h3>
        <p>Histórico do registro de equipamentos e recursos</p></a>
      </li>
        
      <li><a href="/" target="_blank">
        <img src="{% static 'images/graph.png' %}" />
        <h3>Gráficos</h3>
        <p>Evolução do consumo de memória e cpu dos equipamentos</p></a>
      </li>
  
      <li><a href="/registros/?format=json" target="_blank">
        <img src="{% static 'images/api.png' %}" />
        <h3>API</h3>
        <p>Mostra informações da API de comunicação</p></a>
      </li>
  
  
    </ul>
  </div>